.main-wrapper {
  width: 90%;
  margin: 10vh auto;
}
.main-logo {
  height: 10vh;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
#outlined-basic {
  width: 45vw;
}
.main-input {
  display: flex;
  margin-left: 1rem;
}
.main-icon {
  transform: rotate(90deg);
  width: 2rem;
}
.main-search-input {
  display: flex;
  align-items: center;
}
.text-field {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: #12b886;
  background-color: aliceblue;
  width: 30vw;
  padding: 1rem;
  outline: none;
  border-radius: 15px 0 0 15px;
}
.bt-search {
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
}
.bt-search:hover {
  background-color: #12b886;
}
.text-field::placeholder {
  font-size: 1.3rem;
}
.main-radio-block {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}
.main-main-content {
  width: 100%;
  display: flex;
}
.main-list-hospital {
  width: 50%;
}
.main-map-info-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.main-map-info-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-map-info-block-header-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10vh;
  background-color: rgb(220, 220, 220);
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}
.main-map-info-block-header-element:focus {
  background-color: #12b886;
}
.main-map-info-block-info {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}
.main-map-info-block-no-info {
  display: flex;
  justify-content: center;
  height: 480px;
  background-color: rgb(220, 220, 220);
}
.main-map-info-block-info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-list-hospital {
  height: 600px;
  overflow: auto;
}
.main-list-hospital-item {
  margin-top: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  border: 1px solid black;
}
.main-list-hospital-item:focus {
  background-color: #12b886;
}
.main-list-hospital-item-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .main-wrapper {
    width: 90%;
    margin: 5vh auto;
  }
  .main-main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-map-info-block {
    margin-left: 0;
  }
  .main-map-info-block-map {
    width: 100%;
  }
  .main-radio-block {
    margin-top: 1rem;
    width: 100%;
  }
  .main-map-info-block {
    width: 100%;
  }
  .main-list-hospital {
    width: 100%;
    margin-top: 2rem;
  }
  .main-map-info-block-header-element {
    font-size: 1.5rem;
  }
}
